/vendor/
/output/
.php-cs-fixer.cache
/template/app/Http/Controllers
/template/app/Http/Middleware
/template/database/migrations
/template/app/Models
/template/routes
/template/node_modules
/template/vendor
/project_laravel.zip